body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #eae7dc;
}

/* class uses . */
/* Global */

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.dividers{
    width: 100%;
    height: 10px;
    background-color: #eae7dc;
    margin: 0 auto;
}

ul{
  margin: 0;
  padding: 0;
}

.logo{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 10px;
}

header{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #efcdca;
}

header a{
  color: #ac3b61;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
}

header li{
  display: inline-block;
  padding: 0 20px 0 20px;
}

header nav{
   text-align: center;
   overflow: hidden;
}

/*showcase*/
#showcase{
  min-height:400px;
}

#myicon{
  float: left;
}

#intro{
  padding-top: 50px;
  color: #ac3b61;
  line-height:30px;
  margin-top: 30px;
}

#intro h1{
  margin-left: 4px;
  margin-bottom: 30px;
  font-size: 35px;
}

#intro p{
  font-size: 23px;
  margin: 5px;
}

.button{
  font-size: 20px;
  margin: 0px;
  margin-top: 10px;
  color: #ac3b61;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

#about{
  background-color: #efcdca;
}

.wrap{
  color: #e98074;
  font-size: italic;
  text-decoration: none;
}

#experience{
  padding: 0 0px 0 0px;
  min-height:350px;
  background-color: #efcdca;
  color:  #ac3b61;
  text-transform: uppercase;
}

#experience .container{
  width: 95%;
}

#experience h1{
  font-size: 35px;
  text-align: center;
}

#experience p{
  font-size: 18px;
  text-align: center;
  text-transform: none;
  margin-top: -30px;
  margin-bottom: 30px;
}

#experience .box {
  display: inline-block;
  float:left;
  text-align: center;
  width:15%;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 15px;
}

#experience .box img{
  width:90%;
  height: auto;
  float: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#name{
  margin-top: 25px;
}

#contact{
  color: #ac3b61;
}

#contact h1{
  text-align: center;
  font-size: 35px;
}

#contact p{
  font-size: 20px;
  text-align: center;
  margin: -30px 0 0 0;
}

/*footer*/
footer{
  padding:5px;
  margin-top:10px;
  color:#ac3b61;
  background-color:#efcdca;
  text-align: right;
}

/* sidebar
.sidebar{
  background-color: rgb(23, 42, 69);
  float: left;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  border-color: red;
  border-style: groove;
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

#profilepic{
  width: 70%;
  height:auto;
  align-items: center;
}
*/

/*terminal*/
#termabout{
  margin-top: 40px;
}

/*ifsidebar
.terminal{
  padding-left: 300px;
}
*/

.terminal-bar{
  height: 25px;
  background-color: #bbb;
  margin: 0 100px 0 100px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  display: flex;
}

.icon-btn {
    border-radius: 50%;
    margin-top: 7px;
    height: 12px;
    width: 12px;
    margin-bottom: 0.5rem;
    display: inline;
}

.terminal-bar > div.icon-btn:first-child {
    margin-left: 0.6rem;
}

.terminal-bar > div.icon-btn:not(:first-child) {
    margin-left: 0.5rem;
}

.terminal-bar > div.icon-btn:last-child {
    margin-right: 0.6rem;
}

.close {
    background-color: #fa615c;
}

.max {
    background-color: #3fc950;
}

.min {
    background-color: #ffbd48;
}

.terminal-window{
  background-color: black;
  opacity: 0.6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 100px 0 100px;
  padding: 20px;
  height: 387px;
  overflow: scroll;
  flex-direction: column;
  display: flex;
}

.terminal-line {
    position: relative;
    font-family: 'Anonymous Pro', monospace;
    font-size: .9rem;
    color: #62c0e3;
    font-size: 15px;
}

.code{
  color: #8467eb;
  font-weight: bold;
}

.dummy-keyboard {
    opacity:0;
    filter:alpha(opacity=0);
}

.infolist{
  color: #ebab67;
}

::-webkit-scrollbar {
    display: none;
}

/* Media Queries */
@media(max-width: 770px){
  .logo,
  header nav,
  header li{
    float: none;
    text-align: center;
    width: 100%;
  }

  #profilepic,
  #icon{
    float:none;
    text-align: center;
    width:100%;
  }

  #terminal,
  #intro{
    float:none;
    width: 100%;
    padding: -50px;
  }

  #termabout,
  #showcase h1{
    margin-top:40px;
  }

  .anim-typewriter{
    float:none;
    width: 100%;
  }
