body {
  background-color:#272727;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

* {
  font-size: 50px;
  color: #b8b8b8;
  text-decoration: none;
}

.wrap{
  color: #9569db;
  font-size: italic;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.link{
  float: right;
  margin-top: 10px;
}

.topnav a {
    float: left;
    text-align: center;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #b8b8b8;
}

.intro{
  font-size: 500;
  margin: auto;
  color: white;
}

.about{
  margin-top: 60px;
}

.fakeMenu {
  width: 350px;
  box-sizing: border-box;
  width: auto;
  height: 25px;
  background-color: #bbb;
  margin: 0 100px 0 100px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}

.buttonpos{
  position: absolute;
  top: -23px;
  left: 19px;
}
.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  top: 20px;
  right: 1200px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  right: 1180px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  right: 1160px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: auto;
  margin: 0 100px 0 100px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

p {
  font-size: 20px;
  text-align: left;
  position: relative;
}

.aboutme{
  color: #9CD9F0;
  font-size: 20px;
}

span {
  color: #fff;
}

.line-1 {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: #33d036;
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

.line-2 {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: #c36aec;
}

.anim-typewriter2{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 4.90s;
}

.line-3 {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: #d88495;
}

.anim-typewriter3{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 8.58s;
}

.line-4 {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: grey;
}

.anim-typewriter4{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 12.3s;
}

.line-5 {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: white;
}

.anim-typewriter5{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 16s;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 60em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: orange;}
}

.cursor{
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
